@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("lenis-scroll.css");
@import url("custom-scrollbar.css");
@import url("toast.css");
@import url("custom.css");
@import url("loading.css");
@import url("alert.css");
@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: #131017; */
}

.markdown>* {
    all: revert;
}

.custom-button {
    background: linear-gradient(180deg, #5E91FF 0%, #0253FF 100%);
    border: 1px solid #0F5CFF
}

.custom-border {
    border: 1px solid transparent;
    background: linear-gradient(to bottom, white, white),     linear-gradient(180deg, #5E91FF 0%, #0253FF 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

/* .markdown p {
    margin: 0 0 12px 0;
} */
/* .markdown ol {
    margin: 12px 0;
}
.markdown ol li {
    margin: 6px 0;
} */
/* .markdown h3:not(:first-child) {
    margin: 28px 0 14px 0 ;
}
.markdown h3:first-child {
    margin: 0 0 14px 0 ;
} */

/* .markdown a {
    color: #9F72FF ;
} */


/* In your styles.css or Tailwind CSS file */
.markdown-content h1 {
    @apply text-xl md:text-4xl font-bold mt-4 font-markdown_h1;
}

.markdown-content h2 {
    @apply text-lg md:text-3xl font-semibold mt-4 font-markdown_h1;
}

.markdown-content h3 {
    @apply text-base md:text-2xl font-semibold mt-4 font-markdown_h1;
}

.markdown-content p {
    @apply text-sm mt-2.5 mb-1.5 font-mono tracking-tighter;
}

.markdown-content ul {
    @apply list-disc pl-5;
}
.markdown-content li {
    @apply mt-1 pl-2 font-mono tracking-tighter text-gray-800 ;
}
.markdown-content ol {
    @apply list-decimal pl-7 mb-7;
}

.markdown-content code {
    @apply font-mono font-medium;
}

.markdown-content strong {
    @apply  mb-3 font-mono font-bold;
}

.markdown-content blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic;
}

.markdown-content a {
    @apply text-[#1884ff] mx-0.5 font-semibold italic text-xs md:text-sm;
}



.markdown h3 {
    line-height: normal;
}
